@import url('./components/style/avatar.css');
@import url('./components/style/badge.css');
@import url('./components/style/card.css');
@import url('./components/style/button.css');
@import url('./components/style/input.css');
@import url('./components/style/alert.css');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#header .nav {
  display: flex;
  padding: 2rem;
  background-image: linear-gradient(135deg, #1da1f2, #981ceb);
  background-color: #1b95e0;
}

#logo {
  height: 2rem;
  width: 2rem;
}

.main-container {
  display: flex;
}

#sidebar {
  display: flex;
  flex-direction: row;
  border-right: 1px solid var(--ds-border-neutral,#EBECF0);
}

.side-bar {
  padding: 2rem;
  width: 10rem;
  text-align: justify;
  height: auto;
  /* background-color: #f8f6f5; */
  background-color: white;
  font-size: 14px;
}

.side-bar ul li {
  list-style: none;
}

.side-bar ul {
  padding: 0;
}

.side-bar li {
  padding: 1rem;
}

.side-bar li:hover {
  background-color: #eceef1;
  cursor: pointer;
}

.li-line {
  box-shadow: inset 4px 0px 0px var(--ds-iconBorder-brand,#2684FF);
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  margin: 0px;
  padding: 8px 20px;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  font-size: 14px;
  outline: 0px;
  text-decoration: none;
  user-select: none;
  background-color: var(--ds-background-selected-resting,#F4F5F7);
  color: var(--ds-text-selected,currentColor);
  cursor: pointer;
}

.component {
  /* background-color: #e4e6e7; */
  background-color: #fbfdff;
  padding: 2rem;
}

#content {
  width: 100%
}

code {
  display: flex;
  line-height: 20px;
  overflow-x: auto;
  white-space: pre;
  font-size: 12px;
  font-family: SFMono-Medium, "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
  font-weight: normal;
  background-color: var(--ds--code--bg-color,#F4F5F7);
  color: rgb(23, 43, 77);
  border-style: none;
  border-radius: 3px;
  padding: 1rem;
}

.code-bg {
  padding: 24px;
    background-color: var(--ds-background-default,#FFFFFF);
    background-image: linear-gradient( 
  45deg
  ,var(--ds-background-sunken,#f9f9fa) 25%,transparent 25% ),linear-gradient( 
  135deg
  ,var(--ds-background-sunken,#f9f9fa) 25%,transparent 25% ),linear-gradient( 
  45deg
  ,transparent 75%,var(--ds-background-sunken,#f9f9fa) 75% ),linear-gradient( 
  135deg
  ,transparent 75%,var(--ds-background-sunken,#f9f9fa) 75% );
      background-size: 20px 20px;
      background-position: 0px 0px, 10px 0px, 10px -10px, 0px 10px;
      border-radius: 3px 3px 0px 0px;
}

.code-border {
  border-radius: 4px;
  box-shadow: 0 0 0 1.2px var(--ds-border-neutral,#ebecf0);
}
