<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
<link href="../components/style/avatar.css" rel="stylesheet" />
</head>
<body>
  <div class="component">
    <h2>Avatar</h2>   
    <p>An avatar is a visual representation of a user or entity.</p>

    <!-- Default -->
    <div class="hr-border">
      <h2>Default</h2>
      <p>
        A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
      </p>
      <div>
        <img src="../components/images/default-avatar2.png" class="default-avatar" />
        <!-- <svg width="100" height="100">
          <circle cx="50" cy="50" r="40" stroke="grey" stroke-width="4" fill="white" />
        </svg> -->
      </div>
      <div>
        <code>
          <span><</span>div class="default-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>
    
    <!-- Appearance Circle -->
    <div class="hr-border">
      <h2>Appearance(Circle)</h2>
      <p>
        Use a circle avatar to represent a person.
      </p>
      <div class="appearance-avatar">
        <img src="../components/images/default-avatar2.png" class="circle-avatar" />
        <img src="../components/images/Ritu.jpeg" class="circle-avatar" />
        <img src="../components/images/square-avatar.png" class="circle-avatar" />
      </div>
      <div>
        <code>
          <span><</span>div class="circle-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>

    <!-- Sqaure for an object -->
    <div class="hr-border">
      <h2>Appearance(Sqaure)</h2>
      <p>
        Use square avatars to represent an entity, such as a project, repository or space. Opt for a height and width of 100 percent.
      </p>
      <div class="appearance-avatar">
        <img src="../components/images/default-avatar2.png" class="square-avatar" />
        <img src="../components/images/Ritu.jpeg" class="square-avatar" />
        <img src="../components/images/square-avatar.png" class="square-avatar" />
      </div>
      <div>
        <code>
          <span><</span>div class="square-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>

    <!-- Sizes -->
    <div class="hr-border">
      <h2>Size</h2>
      <!-- Size xxlarge -->
      <div>
        <h3>xxlarge</h3>
        <p>
          Use xxlarge circle avatars in places where larger avatars are needed. For example, the Atlassian People Directory. This size is currently not used for square avatars.
        </p>
        <div class="appearance-avatar">
          <img src="../components/images/default-avatar2.png" class="square-avatar xxlarge" />
          <img src="../components/images/Ritu.jpeg" class="circle-avatar xxlarge" />
          <!-- <img src="../components/images/Ritu.jpeg" class="xxlarge" /> -->
          <img src="../components/images/square-avatar.png" class="xxlarge" />
        </div>
        <div>
          <code>
            <span><</span>div class="square-avatar"<span>></span>
            <span><</span>div<span>></span>
          </code>
        </div>
      </div>

      <!-- Size xlarge -->
      <div>
        <h3>xlarge</h3>
        <p>
          Use xlarge circle avatars where they’re needed to display prominently on a page. This size is currently not used for square avatars.
        </p>
        <div class="appearance-avatar">
          <img src="../components/images/default-avatar2.png" class="square-avatar xlarge" />
          <img src="../components/images/Ritu.jpeg" class="circle-avatar xlarge" />
          <!-- <img src="../components/images/Ritu.jpeg" class="xlarge" /> -->
          <img src="../components/images/square-avatar.png" class="xlarge" />
        </div>
        <div>
          <code>
            <span><</span>div class="square-avatar"<span>></span>
            <span><</span>div<span>></span>
          </code>
        </div>
      </div>

      <!-- Size large -->
      <div>
        <h3>large</h3>
        <p>
          Use large circle avatars to represent people for main page titles, like a user's account settings. Use large square avatars to represent main entity titles like Jira projects or Confluence spaces.
        </p>
        <div class="appearance-avatar">
          <img src="../components/images/default-avatar2.png" class="square-avatar large" />
          <img src="../components/images/Ritu.jpeg" class="circle-avatar large" />
          <!-- <img src="../components/images/Ritu.jpeg" class="large" /> -->
          <img src="../components/images/square-avatar.png" class="large" />
        </div>
        <div>
          <code>
            <span><</span>div class="square-avatar"<span>></span>
            <span><</span>div<span>></span>
          </code>
        </div>
      </div>

      <!-- Size medium -->
      <div>
        <h3>medium</h3>
        <p>
          Use medium circle avatars in activity streams or comments. Use medium square avatars in table views for project listings.
        </p>
        <div class="appearance-avatar">
          <img src="../components/images/default-avatar2.png" class="square-avatar medium" />
          <img src="../components/images/Ritu.jpeg" class="circle-avatar medium" />
          <!-- <img src="../components/images/Ritu.jpeg" class="medium" /> -->
          <img src="../components/images/square-avatar.png" class="medium" />
        </div>
        <div>
          <code>
            <span><</span>div class="square-avatar"<span>></span>
            <span><</span>div<span>></span>
          </code>
        </div>
      </div>

    </div>

 </div>
</body>
</html>
