<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="../components/style/badge.css" rel="stylesheet" />
  <link href="../components/style/avatar.css" rel="stylesheet" />
</head>
<body>
  <div class="component">
    <h2>Badge</h2>   
    <p>A badge is a visual indicator for numeric values such as tallies and scores.</p>
      
     <!-- Default -->
    <div class="hr-border">
      <h2>Default</h2>
      <p>
        The default form of a badge.
      </p>
      <div>
        <section class="default-badge">8</section>
      </div>
      <div>
        <code>
          <span><</span>div class="default-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>
    
     <!-- Active status -->
     <div class="hr-border">
      <h2>Avatar badge for status</h2>
      <p>
        Use a badge with an Avatar to show current status
      </p>
      <div class="avatar-badge">
        <img src="../components/images/Ritu.jpeg" class="circle-avatar avatar-badge" />
        <section class="badge-on-avatar"></section>
      </div>
      <div>
        <code>
          <span><</span>div class="default-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>

     <!-- Notification status -->
     <div class="hr-border">
      <h2>Avatar badge for notification</h2>
      <p>
        Use a badge with an Avatar to show current status
      </p>
      <div class="avatar-badge">
        <img src="../components/images/Ritu.jpeg" class="circle-avatar avatar-badge" />
        <section class="badge-on-avatar notification-badge">20+</section>
      </div>
      <div>
        <code>
          <span><</span>div class="default-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>

    <!-- Cart balance -->
    <div class="hr-border">
      <h2>Avatar badge for notification</h2>
      <p>
        Use a badge with an Avatar to show current status
      </p>
      <div class="avatar-badge">
        <img src="../components/images/cart.png" class="cart-badge" />
        <section class="badge-on-avatar cart-on-badge">5</section>
      </div>
      <div>
        <code>
          <span><</span>div class="default-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>

  </div>
</body>
</html>