<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="component">
    <h2>Card</h2>   
    <p>A card is a block/box-sized design that shows important things. E.g, Cards with different prices of subscription, Sellable things on Amazon and Flipkart. </p>

    <div class="card-section">
      <!-- Default -->
      <div class="hr-border">
        <h2>Default</h2>
        <p>
          A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
        </p>

        <div class="code-border">
          <div class="code-bg">
            <div class="card">
              <div class="child-card">
                <img src="../components/images/default-avatar2.png" class="default-avatar" />
              </div>
              <div>
                <p class="title">Avatar</p>
                <p>An avatar is a visual representation of a user or entity.</p>
              </div>
            </div>
          </div>
          <code>
            &lt;div class="card"&gt;
              &lt;div class="child-card"&gt;
                &lt;img src="..." class="default-avatar" alt="card-img" /&gt;
              &lt;/div&gt;
              &lt;div class="card"&gt;
                &lt;p class="title"&gt;Avatar&lt;/p&gt;
                &lt;p&gt;An avatar is a visual representation of a user or entity.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          </code>
        </div>
      </div>

      <!-- Card with badge -->
      <div class="hr-border">
        <h2>Card with Badge</h2>
        <p>
          A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
        </p>

        <div class="code-border">
          <div class="code-bg">
            <div class="card">
              <div class="child-card">
                <img src="../components/images/chair.png" class="" />
                <div class="badge-on-card">
                  #1 Bestseller
                </div>
              </div>
              <div>
                <p class="title">Avatar</p>
                <p>An avatar is a visual representation of a user or entity.</p>
              </div>
            </div>
          </div>
          <code>
            &lt;div class="card"&gt;
              &lt;div class="child-card"&gt;
                &lt;img src="..." class="" alt="card-img" /&gt;
                &lt;div class="badge-on-card"&gt;
                  #1 Bestseller
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="card"&gt;
                &lt;p class="title"&gt;Avatar&lt;/p&gt;
                &lt;p&gt;An avatar is a visual representation of a user or entity.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          </code>
        </div>
      </div>

       <!-- Card with text overlay -->
       <div class="hr-border">
        <h2>Card with Text overlay</h2>
        <p>
          A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
        </p>

        <div class="code-border">
          <div class="code-bg">
            <div class="card">
              <div class="child-card">
                <div class="transparent">
                  <img src="../components/images/chair.png" class="" />
                  <div class="badge-on-card">
                    #1 Bestseller
                  </div>
                </div>
                <p class="text-overlay">SOLD OUT</p>
              </div>
              <div>
                <p class="title">Avatar</p>
                <p>An avatar is a visual representation of a user or entity.</p>
              </div>
            </div>
          </div>
          <code>
            &lt;div class=&quot;card&quot;&gt; 
              &lt;div class=&quot;child-card&quot;&gt; 
                &lt;div class=&quot;transparent&quot;&gt; 
                  &lt;img src=&quot;../components/images/chair.png&quot; class=&quot;&quot; /&gt; 
                  &lt;div class=&quot;badge-on-card&quot;&gt; 
                    #1 Bestseller 
                  &lt;/div&gt; 
                &lt;/div&gt; 
                &lt;p class=&quot;text-overlay&quot;&gt;SOLD OUT&lt;/p&gt; 
              &lt;/div&gt; 
              &lt;div&gt; 
                &lt;p class=&quot;title&quot;&gt;Avatar&lt;/p&gt; 
                &lt;p&gt;An avatar is a visual representation of a user or entity.&lt;/p&gt; 
              &lt;/div&gt; 
            &lt;/div&gt;
          </code>
        </div>
      </div>

      <!-- Text Only Card -->
      <div class="hr-border">
        <h2>Text Only Card</h2>
        <p>
          A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
        </p>

        <div class="code-border">
          <div class="code-bg">
            <div class="card">
              <div class="child-card">
                <p class="text-overlay">TEXT ONLY</p>
              </div>
              <div>
                <p class="title">Avatar</p>
                <p>An avatar is a visual representation of a user or entity.</p>
              </div>
            </div>
          </div>
          <code>
            &lt;div class=&quot;card&quot;&gt; 
              &lt;div class=&quot;child-card&quot;&gt; 
                &lt;p class=&quot;text-overlay&quot;&gt;TEXT ONLY&lt;/p&gt; 
              &lt;/div&gt; 
              &lt;div&gt; 
                &lt;p class=&quot;title&quot;&gt;Avatar&lt;/p&gt; 
                &lt;p&gt;An avatar is a visual representation of a user or entity.&lt;/p&gt; 
              &lt;/div&gt; 
            &lt;/div&gt;
          </code>
        </div>
      </div>

      <!-- Vertical Cards -->

      <div class="code-border">
        <div class="code-bg">
          <section class="vertical-cards-section">
            <div>
              <div class="card">
                <div class="child-card">
                  <img src="../components/images/default-avatar2.png" class="default-avatar" />
                </div>
                <div>
                  <h2 class="title">Ritu Kapadia</h2>
                  <p>Section: <span>neoG Camp</span></p>
                  <p>Batch: <span>2022</span></p>
                </div>
              </div>
            </div>

            <div>
              <div class="card">
                <span class="dismiss" title="Dismiss">X</span>
                <div class="child-card">
                  <img src="../components/images/default-avatar2.png" class="default-avatar" />
                </div>
                <div>
                  <h2 class="title">Ritu Kapadia</h2>
                  <p>Section: <span>neoG Camp</span></p>
                  <p>Batch: <span>2022</span></p>
                </div>
              </div>
            </div>

            <div>
              <div class="card">
                <span class="dismiss" title="Dismiss">X</span>
                <div class="child-card">
                  <img src="../components/images/default-avatar2.png" class="default-avatar" />
                </div>
                <div>
                  <h2 class="title">Ritu Kapadia</h2>
                  <p>Section: <span>neoG Camp</span></p>
                  <p>Batch: <span>2022</span></p>
                </div>
              </div>
            </div>
          </section>  
        </div>
        <code>
          &lt;div class=&quot;card&quot;&gt; 
            &lt;span class=&quot;dismiss&quot; title=&quot;Dismiss&quot;&gt;X&lt;/span&gt; 
            &lt;div class=&quot;child-card&quot;&gt; 
              &lt;img src=&quot;../components/images/default-avatar2.png&quot; class=&quot;default-avatar&quot; /&gt; 
            &lt;/div&gt; 
            &lt;div&gt; 
              &lt;h2 class=&quot;title&quot;&gt;Ritu Kapadia&lt;/h2&gt; 
              &lt;p&gt;Section: &lt;span&gt;neoG Camp&lt;/span&gt;&lt;/p&gt; 
              &lt;p&gt;Batch: &lt;span&gt;2022&lt;/span&gt;&lt;/p&gt; 
            &lt;/div&gt; 
          &lt;/div&gt;
        </code>
      </div>
    </div>
  </div>
</body>
<script src="../index.js"></script>
</html>
