<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="../components/style/card.css" rel="stylesheet" />
  <link href="../components/style/avatar.css" rel="stylesheet" />
  <link href="../components/style/badge.css" rel="stylesheet" />
</head>
<body>
  <div class="component">
    <h2>Card</h2>   
    <p>A card is a block/box-sized design that shows important things. E.g, Cards with different prices of subscription, Sellable things on Amazon and Flipkart. </p>

    <div class="card-section">
      <!-- Default -->
      <div class="hr-border">
        <h2>Default</h2>
        <p>
          A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
        </p>
        
        <div class="card">
          <div class="child-card">
            <img src="../components/images/default-avatar2.png" class="default-avatar" />
          </div>
          <div>
            <p class="title">Avatar</p>
            <p>An avatar is a visual representation of a user or entity.</p>
          </div>
        </div>
        <div>
          <code>
            <span><</span>div class="default-avatar"<span>></span>
            <span><</span>div<span>></span>
          </code>
        </div>
      </div>

      <!-- Card with badge -->
      <div class="hr-border">
        <h2>Card with Badge</h2>
        <p>
          A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
        </p>
        
        <div class="card">
          <div class="child-card">
            <img src="../components/images/chair.png" class="" />
            <div class="badge-on-card">
              #1 Bestseller
            </div>
          </div>
          <div>
            <p class="title">Avatar</p>
            <p>An avatar is a visual representation of a user or entity.</p>
          </div>
        </div>
        <div>
          <code>
            <span><</span>div class="default-avatar"<span>></span>
            <span><</span>div<span>></span>
          </code>
        </div>
      </div>

       <!-- Card with text overlay -->
       <div class="hr-border">
        <h2>Card with Text overlay</h2>
        <p>
          A default image is displayed for avatars when a chosen source is unavailable (for example, when there is a problem displaying the image due to an error), or simply unspecified.
        </p>
        
        <div class="card">
          <div class="child-card">
            <div class="transparent">
              <img src="../components/images/chair.png" class="" />
              <div class="badge-on-card">
                #1 Bestseller
              </div>
            </div>
            <p class="text-overlay">SOLD OUT</p>
          </div>
          <div>
            <p class="title">Avatar</p>
            <p>An avatar is a visual representation of a user or entity.</p>
          </div>
        </div>
        <div>
          <code>
            <span><</span>div class="default-avatar"<span>></span>
            <span><</span>div<span>></span>
          </code>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
