<div class="component">
  <h2>Color</h2>
  <p>
    Color distinguishes our brand and helps us create consistent experiences across products.
    Use focused, meaningful color to pinpoint exactly what people need to see. To do this, choose primary, secondary, and extended colors that support usability by ensuring sufficient color contrast between elements so that people with low vision can see and use our products.

    Where appropriate, we enable people to introduce their own color palettes. Our products adapt intelligently and flexibly to cater to different needs and preferences. 
  </p>
  <div class="hr-border">
    <h2>Primary Palette</h2>
    <div class="code-border">
      <div class="code-bg">
        <div class="colors">
          <div class="box primary-1"></div>
          <div class="box primary-2"></div>
          <div class="box primary-3"></div>
          <div class="box primary-4"></div>
        </div>
      </div>
      <code>
        <div class="color-ticket">linear-gradient(135deg, #1da1f2, #981ceb);</div>
        <div class="color-ticket">#1b95e0</div>
        <div class="color-ticket">#fbfdff</div>
        <div class="color-ticket">#80bdff</div>
      </code>
    </div>

    <h2>Secondary Palette</h2>
    <div class="code-border">
      <div class="code-bg">
        <div class="colors">
          <div class="box secondary-1"></div>
          <div class="box secondary-2"></div>
          <div class="box secondary-3"></div>
          <div class="box secondary-4"></div>
        </div>
      </div>
      <code>
        <div class="color-ticket">#495057</div>
        <div class="color-ticket">#eceef1</div>
        <div class="color-ticket">#172b4d</div>
        <div class="color-ticket">#c0c0c0</div>
      </code>
    </div>

  </div>
</div>
