<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="../components/style/image.css" rel="stylesheet" />
</head>
<body>
  <div class="component">
    <h2>Image</h2>   
    <p>Images can be made responsive with .img-fluid class that is applied to the image so that it scales with the parent element.</p>

    <!-- Default -->
    <div class="hr-border">
      <h2>Responsive</h2>
      <p>
        The default form of an image.
      </p>
      <div class="code-border">
        <div class="code-bg">
          <div class="">
            <img src="../assets/images/flower1.jpg" class="img-fluid" />
          </div>
        </div>
        <code>
          <xmp>
            <img src="../assets/images/flower1.jpg" class="img-fluid" />
          </xmp>
        </code>
      </div>
    </div>

    <!-- Circle image -->
    <div class="hr-border">
      <h2>Circle Image</h2>
      <p>
        Circular form of an image.
      </p>

      <div class="code-border">
        <div class="code-bg">
            <img src="../assets/images/flower.jpg" class="img-fluid circle" />
        </div>
        <code>
          <xmp>
            <img src="..." class="img-fluid circle" />
          </xmp>
        </code>
      </div>
    </div>

    <!-- Image in object -->
    <div class="hr-border">
      <h2>Object Image</h2>
      <p>
        The default form of an image. To use in small objects like avatars.
      </p>

      <div class="code-border">
        <div class="code-bg">
          <img src="../assets/images/moon.jpg" class="circle object" />
        </div>
        <code>
          <xmp>
            <img src="..." class="circle object" />
          </xmp>
        </code>
      </div>
    </div>

  </div>
</body>
</html>
