<div class="component">
  <link href="../components/style/input.css" rel="stylesheet" />
  <h2>Alert</h2>   
  <p>A button triggers an event or action. They let users know what will happen next.</p>

  <div class="hr-border">
    <!-- Default -->
    <h2>Default</h2>
    <p>The default form of an alert.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="input-group">
            <input class="" placeholder="Username" />
          </div>
        </div>
        <code>
          <span><</span>div class="default-avatar"<span>></span>
          <span><</span>div<span>></span>
        </code>
      </div>
    </div>

  </div>
</div>