<div class="component">
  <link href="../components/style/input.css" rel="stylesheet" />
  <h2>List</h2>   
  <p>	List can be used to display a list of pages. They can be defined either dynamically - by search query, tags or from a parent page - or as a static list of items.</p>

  <div class="hr-border">
    <!-- Default -->
    <h2>Default</h2>
    <p>The default form of a list.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="list">
            <ul>
              <li>Bur milk</li>
              <li>Go to gym</li>
              <li>Read books</li>
            </ul>
          </div>
        </div>
        <code>
          <xmp>
            <div class="list">
              <ul>
                <li>Bur milk</li>
                <li>Go to gym</li>
                <li>Read books</li>
              </ul>
            </div>
          </xmp>
        </code>
      </div>
    </div>

    <!-- Notification Type -->
    <h2>Notification Type</h2>
    <p>A notification type list.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="list">
            <div class="icon">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
            </div>
            <div class="details">
              <p class="title">Account Name</p>
              <p class="app-title">Custom Action</p>
              <p class="desc">Description</p>
              <p class="time">Time Frame</p>
            </div>
          </div>
          <div class="list">
            <div class="icon">
              <i class="fa fa-bolt" aria-hidden="true"></i>
            </div>
            <div class="details">
              <p class="title">Sale</p>
              <p class="app-title">Moon</p>
              <p class="desc">Get flat 50% off on beauty products</p>
              <p class="time">10 min ago</p>
            </div>
          </div>
        </div>
        <code>
          <xmp>
            <div class="list">
              <div class="icon">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
              </div>
              <div class="details">
                <p class="title">Account Name</p>
                <p class="app-title">Custom Action</p>
                <p class="desc">Description</p>
                <p class="time">Time Frame</p>
              </div>
            </div>
          </xmp>
        </code>
      </div>
    </div>

  </div>
</div>