<div class="component">
  <link href="../components/style/input.css" rel="stylesheet" />
  <h2>List</h2>   
  <p>	List can be used to display a list of pages. They can be defined either dynamically - by search query, tags or from a parent page - or as a static list of items.</p>

  <div class="hr-border">
    <!-- Default -->
    <h2>Default</h2>
    <p>The default form of a list.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="list">
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
            </ul>
          </div>
        </div>
        <code>
          <xmp>
            <div class="list">
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </xmp>
        </code>
      </div>
    </div>

    <!-- Notification Type -->
    <h2>Notification Type</h2>
    <p>A notification type list.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="list">
            <p>Added to wishlist</p>
            <p>Removed from cart</p>
            <p>Message sent!</p>
          </div>
        </div>
        <code>
          <xmp>
            <div class="list">
              <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
              </ul>
            </div>
          </xmp>
        </code>
      </div>
    </div>

  </div>
</div>