<div class="component">
  <h2>Rating</h2>   
  <p>Rating is used to identify the user experience to enhance the product/service.</p>
  
  <div class="hr-border">
    <!-- Default -->
    <h2>Default</h2>
    <p>The default form of a rating component.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="rate">
            <i class="" aria-hidden="true" id="1"></i>
            <i class="" aria-hidden="true" id="2"></i>
            <i class="" aria-hidden="true" id="3"></i>
            <i class="" aria-hidden="true" id="4"></i>
            <i class="" aria-hidden="true" id="5"></i>
          </div>
        </div>
        <code>
          <xmp>
            <div class="rate">
              <i class="" aria-hidden="true" id="1"></i>
              <i class="" aria-hidden="true" id="2"></i>
              <i class="" aria-hidden="true" id="3"></i>
              <i class="" aria-hidden="true" id="4"></i>
              <i class="" aria-hidden="true" id="5"></i>
            </div>
          </xmp>
        </code>
      </div>
    </div>

    <!-- Primary -->
    <h2>Plain</h2>
    <p>Rating with plain outlined stars.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="rate plain">
            <i class="" aria-hidden="true" id="1"></i>
            <i class="" aria-hidden="true" id="2"></i>
            <i class="" aria-hidden="true" id="3"></i>
            <i class="" aria-hidden="true" id="4"></i>
            <i class="" aria-hidden="true" id="5"></i>
          </div>
        </div>
        <code>
          <xmp>
            <div class="rate plain">
              <i class="" aria-hidden="true" id="1"></i>
              <i class="" aria-hidden="true" id="2"></i>
              <i class="" aria-hidden="true" id="3"></i>
              <i class="" aria-hidden="true" id="4"></i>
              <i class="" aria-hidden="true" id="5"></i>
            </div>
          </xmp>
        </code>
      </div>
    </div>

    <!-- Emojis -->
    <h2>Emoticons</h2>
    <p>Give a rating using emoticons. Emoticons are used as an expression of a product or service. It helps the Organization understand your experience with the product or service.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="rate">
            <span class="disappoint" title="Disappointed"></span>
            <span class="not-satisfied" title="Not Satisfied"></span>
            <span class="okaish" title="Okaish"></span>
            <span class="satisfied" title="Satisfied"></span>
            <span class="happy" title="Happy"></span>
          </div>
        </div>
        <code>
          <xmp>
            <div class="rate">
              <span class="disappoint" title="Disappointed"></span>
              <span class="not-satisfied" title="Not Satisfied"></span>
              <span class="okaish" title="Okaish"></span>
              <span class="satisfied" title="Satisfied"></span>
              <span class="happy" title="Happy"></span>
            </div>
          </xmp>
        </code>
      </div>
    </div>
  </div>
</div>

