<div class="component">
  <h2>Text</h2>   
  <p>Documentation and examples for common text utilities to control alignment, wrapping, weight, and more.</p>

  <div class="hr-border">
    <h2>Default</h2>
    <p>Easily realign text to components with text alignment classes.</p>
    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="">
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
          </div>
        </div>
        <code>
          <xmp>
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
          </xmp>
        </code>
      </div>
      <p>For left, right, and center alignment, responsive classes are available that use the same viewport width breakpoints as the grid system.</p>
      <div class="code-border">
        <div class="code-bg">
          <div class="">
            <p class="text-left">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-right">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-center">Ambitioni dedisse scripsisse iudicaretur.</p>
          </div>
        </div>
        <code>
          <xmp>
            <p class="text-left">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-right">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-center">Ambitioni dedisse scripsisse iudicaretur.</p>
          </xmp>
        </code>
      </div>
    </div>

    <h2>Text transform</h2>
    <p>Transform text in components with text capitalization classes.</p>

    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="">
            <p class="text-lowercase">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-uppercase">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-capitalize">Ambitioni dedisse scripsisse iudicaretur.</p>
          </div>
        </div>
        <code>
          <xmp>
            <p class="text-lowercase">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-uppercase">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-capitalize">Ambitioni dedisse scripsisse iudicaretur.</p>
          </xmp>
        </code>
      </div>
    </div>

    <h2>Font weight and italics</h2>
    <p>Quickly change the weight (boldness) of text or italicize text.</p>

    <div>
      <div class="code-border">
        <div class="code-bg">
          <div class="">
            <p class="text-weight-bold">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-weight-normal">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-light">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-italics">Ambitioni dedisse scripsisse iudicaretur.</p>
          </div>
        </div>
        <code>
          <xmp>
            <p class="text-weight-bold">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-weight-normal">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-light">Ambitioni dedisse scripsisse iudicaretur.</p>
            <p class="text-italics">Ambitioni dedisse scripsisse iudicaretur.</p>
          </xmp>
        </code>
      </div>
    </div>
  </div>
</div>
