<div class="component">
  <h2>Typography</h2>
  <p>Typography is our system of fonts. Each font conveys the appropriate sentiment to assist our users through each stage of their journey.</p>

  <h3>Font Stack</h3>
  <p>We use sans serif fonts for most of our type in-product, the exception being when you want to display code then you should defer to monospace fonts.</p>
  <div class="font-stack">
    <p class="roboto">Roboto</p>
    <p class="segoe">Segoe UI</p>
    <p class="mplus">MPlus</p>
  </div>

  <p>We use the font, Roboto, for almost everything brand and marketing — from banner ads to billboards. It can be quirky and expressive when it needs to be, or neutral when the situation calls for something a bit more serious. On rare occasions, we also use native typography for selected elements. All three fonts are available in respective classes .roboto, .segoe, and mplus.
  </p>

</div>
