.alert {
  color: #fbfdff;
  position: relative;
}

.alert p {
  padding: 1rem;
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert p span {
  cursor: pointer;
  float: right;
}

.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

button.close {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem;
  color: inherit;
}