.alert {
  color: var(--alert);
  position: relative;
}

.alert p {
  padding: 1rem;
}

.danger {
  color: var(--danger-alert);
  background-color: var(--danger-alert-bg);
  border-color: var(--danger-alert-border);
}

.alert p span {
  cursor: pointer;
  float: right;
}

.info {
  color: var(--info-alert);
  background-color: var(--info-alert-bg);
  border-color: var(--info-alert-border);
}

.success {
  color: var(--success-alert);
  background-color: var(--success-alert-bg);
  border-color: var(--success-alert-border);
}

button.close {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem;
  color: inherit;
}