.default-avatar, .circle-avatar, .square-avatar {
  height: 10%;
  width: 10%;
  object-fit: cover;
}

.circle-avatar {
  border-radius: 50%;
  border: 2px solid #878282;
  object-fit: cover;
}

.appearance-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.square-avatar {
  object-fit: cover;
}

.hr-border {
  border-bottom: 2px solid #cbc7c7;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.xxlarge {
  width: 30%;
  height: 30%;
}

.xlarge {
  width: 18%;
  height: 18%;
}

.large {
  width: 15%;
  height: 15%;
}

.medium {
  width: 10%;
  height: 10%;
}