.button {
  cursor: pointer;
}

.default {
  padding: 0.5rem 0.5rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.default span {
  transition: opacity 0.3s;
  opacity: 1;
  font-weight: 600;
}

.primary {
  background-color: var(--primary-btn);
  color: var(--white);
}

.warning {
  background-color: var(--warning-btn);
}

.danger {
  background-color: var(--danger-btn);
  color: var(--white);
}

.disabled {
  cursor: not-allowed;
  text-decoration: none;
  color: var(--disabled-btn);
}

.loading {
  background-color: var(--loading-btn);
}

.icon i {
  margin: 0 0.5rem;
}