.card-section {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  height: auto;
  width: 20rem;
  padding: 0 2rem;
  background-color: var(--white);
  border: 1px solid var(--card);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 4px 4px 4px var(--grey);
  cursor: pointer;
}

.child-card {
  margin: 2rem 0 0 0;
  padding: 3rem;
  background-color: var(--card-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card .title {
  font-size: 18px;
}

.card p {
  font-size: 12px;
}

.child-card img {
  height: 10rem;
  width: auto;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  font-size: 25px !important;
}

.transparent {
  opacity: 0.4;
}

.vertical-cards-section {
  display: flex;
  justify-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.vertical-cards-section .card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}

.vertical-cards-section .child-card {
  margin: 1rem 0;
  background-color: var(--card-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.vertical-cards-section p {
  font-size: 14px !important;
}

.dismiss {
  position: absolute;
  top: 10px;
  right: 10px; 
}

.card-section .default-avatar, .card-section .circle-avatar, .card-section .square-avatar {
  height: 3rem !important;
  width: 3rem !important;
  object-fit: cover;
}
