.card-section {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  height: auto;
  width: 20rem;
  padding: 0 2rem;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 4px 4px 4px grey;
  cursor: pointer;
}

.child-card {
  margin: 2rem 0 0 0;
  padding: 3rem;
  background-color: #f5f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card .title {
  font-size: 18px;
}

.card p {
  font-size: 12px;
}

.card .default-avatar {

}

.child-card img {
  height: 10rem;
  width: auto;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  font-size: 25px !important;
}

.transparent {
  opacity: 0.4;
}