img {
  height: 20rem;
  width:  20rem;
}

.circle {
  border-radius: 50%;
  height: 10rem !important;
  width: 10rem;
}

.object {
  height: 5rem !important;
  width: 5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
