.font-stack {
  width: 20rem;
  background-color: var(--li-line);
  border-radius: 0.2rem;
  text-align: center;
  margin: 0rem;
  padding: 1rem;
}

.font-stack p {
  font-size: 20px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.segoe {
  font-family: 'Roboto', sans-serif;
}

.mplus{
  font-family: 'M PLUS 1p', sans-serif;
}

